body {
    background-color:  #050608;
}

main {
    display: flex;
    justify-content: center;
}

#canvas-wrapper {
    position: relative;
}

#mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#top-panel {
    display: flex;
    justify-content: center;
    color: cadetblue;
    margin: 30px;
    font-size: large;
}

#side-bar {
    background-image: url("../img/side-frame.png");
    width: 350px;
    text-align: center;
}

#side-bar-content {
    padding-top: 50px;
}

.side-text {
    color: cadetblue;
}

#spell-info img {
    height: 50px;
    width: 50px;
}

#movement-info img {
    height: 125px;
    width: 200px;
}

#input-wrapper {
    display: flex;
    justify-content: center;
}

label {
    color: cadetblue;
    font-weight: 550;
    font-size: 26px;
    margin-top: 30px;
}

button {
    border-radius: 8px;
    border-color: darkcyan;
    background-color: cadetblue;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

#username {
    border-radius: 8px;
    padding: 5px 12px; 
    font-size: medium;
    margin: 10px;
    background-color: cadetblue;
    border-color: darkcyan;
}