body {
    background-color:  #050608;
}

main {
    display: flex;
    justify-content: center;
}

#canvas-wrapper {
    position: relative;
}

#mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#top-panel {
    display: flex;
    justify-content: center;
    color: cadetblue;
}

#side-bar {
    background-image: url("../img/side-frame.png");
    width: 350px;
    text-align: center;
}

#side-bar-content {
    padding-top: 50px;
}

.side-text {
    color: cadetblue;
}

#spell-info img {
    height: 50px;
    width: 50px;
}

#movement-info img {
    height: 125px;
    width: 200px;
}